{% extends "base_generic.html" %}

{% block content %}

<h1>{{ username }}</h1>

<script>
    function audioError() {
        document.querySelector('.audio-container').style.display = 'none';
    }
</script>

<div class="audio-container">
    <h3>Original Sound</h3>
    <audio style="margin: 20px auto; display: block;" controls loop>
        {% load static %}
        <source src="{% static 'sound/'|add:username|add:'.mp3' %}" type="audio/mp3" onerror="audioError()">
    </audio>
</div>


{% if profileEnts %}
<h3>
    Posts
</h3>

<div class="two-column-grid">

    {% for entry in profileEnts %}
    <a class="lightbox" onclick="openModal('{{ entry.picture.url }}')">
        <div class="plot"
            style="background-image: linear-gradient(180deg, rgba(199, 174, 127, 0.95) 25%, rgba(199, 174, 127, 0.85) 50%, rgba(199, 174, 127, 0.25) 100%), url('{{ entry.picture.url }}')">
            <!--Getting the username, date, progress image, rating image, and message 
            for each user and displaying it in a predetermined order-->
            <div class="name-rating-message-container">
                <div class="user-date">
                    <p class="username">{{ entry.username }}</p>
                    <p class="date">{{ entry.timestamp | date:"l, M j"}}</p>
                    <p class="date">{{ entry.timestamp | date:"P"}}</p>
                </div>
                <div class="rating-img">
                    <img src="/{{ entry.ratingPic }}">
                </div>
                <div class="message">
                    <p> {{ entry.message }} </p>
                </div>
            </div>

            <!-- Need to specify size here for images -->
            <!-- <div class="plot-img">
                <a class="lightbox" onclick="openModal('{{ entry.picture.url }}')">
                    <img src="{{ entry.picture.url }}" onerror="this.style.display='none'" alt="{{ entry.username }}'s Plant Update Photo">
                </a>
            </div> -->
        </div>
    </a>
    {% endfor %}

</div>

{% if plot_div %}
    <h3>Ratings</h3>

    {% autoescape off %}
    <div class="graph-container">
    {{ plot_div }}
    </div>
    {% endautoescape %}
{% endif %}

<div class="lightbox-target" id="box-target" onclick="closeModal()">
    <img id="img-target" onclick="event.stopPropagation();" />
    <a class="lightbox-close" onclick="closeModal()"></a>
</div>

<script>
    let boxTarget = document.querySelector("#box-target");
    let imgTarget = document.querySelector("#img-target");

    function openModal(url) {
        imgTarget.src = url;
        boxTarget.classList.add("lightbox-target-visible");
        document.body.classList.add("no-scroll");
    }

    function closeModal() {
        imgTarget.removeAttribute('src');
        boxTarget.classList.remove("lightbox-target-visible");
        document.body.classList.remove("no-scroll");
    }

    document.body.appendChild(boxTarget);

</script>
{% else %}

<h3>No posts ☹️</h3>

{% endif %}

{% endblock %}