
{% extends "base_generic.html" %}



{% block content %}

<!-- <h1>Hello, {{ user }}</h1>

<p class="submit-text">Please submit a new entry.</p> -->

<div class="submit-form">

  <form method="post" enctype="multipart/form-data">

    <h2>New Post</h2>
    {% csrf_token %}

    <div class="form-field">
      <p>1. Upload a picture:
      {{ form.picture }}
    </p>
    </div>

    <!--
    <div class="form-field">
      <p>Upload a sound (optional):
      {{ form.sound }}
    </p>
    </div>
  -->

    <div class="form-field">
      <p>2. Rate your plant's health:</p>
      <!-- <ul>
        <li>1 - very poor (not doing well)</li>
        <li>2 - poor</li>
        <li>3 - no change</li>
        <li>4 - good</li>
        <li>5 - very good (doing very well)</li>
      </ul> -->
      {{ form.rating }}
    </div>

    <div class="form-field">
      <p>3. Write something about your plant or the experience thus far:</p>
      {{ form.message }}
    </div>
    
    <!--{{ form.as_p }}-->

    <button style="width: 80px; height: 30px;" type="submit">Submit
    </button>

  </form>

</div>
  
{% endblock %}