html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#container, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    z-index: -100;
}

.p5Canvas {
  touch-action: none;
}

.button-container {
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  top: 10px;
  min-height: 80px;
  min-width:200px;  
  left: 20px;
  z-index: 20;
  position: absolute;
}

.label-class{
  display: block;
  position: absolute;
  background-color:  rgba(223, 218, 218, .85);
  width: 200px;
  height: 220px;
  top: 10px;
  left: 20px;
  padding: 5px;
  flex-wrap: wrap;
}