html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}