
* {
    box-sizing: border-box;
    margin: 0;
}

a {
    font: bold;
    color: rgb(73, 35, 0);
    text-decoration: none;
}

a:hover {
    color: darkgreen;
}

.ls-header-text {
    font: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    text-align: left;
}

/*make it an actual header that touches the top and sides of page*/
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(216, 169, 67);
    padding: 20px 10%;
    border-color: rgb(216, 169, 67);
}

.header > div {
    width: 250px;
    margin: 20px 10px;
    text-align: center;
    align-self: center;

    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center; 
    padding: 10px 5px;
    background-color: darkgreen;
    font: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(73, 35, 0);
}

.plot-img {
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    background-color: black;
}

.rating-img {
    margin-top: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: darkgreen;
    border-color: darkgreen;
    border-style: solid;
}

.username {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font: bold;
    padding-left: 10px;
    margin: 5px;
}

.message {
    margin: -5px 5px 5px; 
    background-color: rgb(255, 245, 139);
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

.plot {
    background-color: rgb(126, 86, 0);
    width: 300px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(73, 35, 0);
    border-style: solid;
    border-width: 5px;
  }