
:root {
    --column-width: 350px;
}

* {
    margin: 0;
}

html {
    background-color: #6580A6;
    color: #592E29;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

a {
    color: #592E29;
    text-decoration: none;
    font-weight: bold;
}

/* a:hover {
    color: #A64F44;
    text-decoration: underline;
} */

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #94A655;
    font-size: 1.75rem;
    height: 100px;
    vertical-align: middle;
}

.header > div {
    width: 250px;
    margin: 20px 10px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    
}

.header > div > img {
    height: 50px;
}

h1 {
    text-align: center;
    padding-top: 40px; 
    padding-bottom: 30px;
    margin: auto;
    color:#94A655;
    
}

h3 {
    text-align: center; 
    font-weight: bold; 
    color: #c7ae7f; 
    margin: 15px auto;
    font-size: 1.5rem;
}

.plot-img {
    margin: auto;
}

.lightbox > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.rating-img {
    margin-top: 5px;
    float: right;
    width: 100px;
    height: 100px;
}

.rating-img > img {
    object-fit:  fill;
    width: 100%;
    height: 100%;
    margin-top: -10px;
}

.flex-container {
    display: block;
    flex-direction: column;
    align-items:  flex-start;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
    background-color: #4E5925;
    min-height: 100vh;
}



.two-column-grid {
    display: grid;
    grid-template-columns: var(--column-width);
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    margin-top: 25px;
    width: var(--column-width);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 800px) {
    .two-column-grid {
        grid-template-columns: repeat(2, var(--column-width));
        width: 720px;
    }
}

@media screen and (min-width: 1200px) {
    .two-column-grid {
        grid-template-columns: repeat(3, var(--column-width));
        width: 1090px;
    }
}

.user-date {
    float: left;
    width: 180px;
}

.username {
    font-weight: 700;
    font-size: 1.25rem;
}

.date {
    font-size: 1.1rem;
    font-weight: 300;
}

.message {
    float: left;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    height: auto;
}

.plot {
    background-color: #c7ae7f;
    width: 290px;
    padding: 30px;
    border-radius: 5px;
    border-width: 5px;
    min-height: 350px;
    max-width: 310px;
    max-height: 350;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.submit-text {
    text-align: center;
    font-weight: bold;
    color: rgb(73, 35, 0);
}

.submit-form {
    background-color: rgb(255, 249, 217);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: var(--column-width);
    padding: 20px;
    border-radius: 3px;
    border-color: rgb(73, 35, 0);
    border-style: solid;
    border-width: 5px;
    align-self:center;
}

.form-field {
    padding: 10px;
    font-size: 1.2rem;
}

.success-text {
    text-align: center;
    align-self: center;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    color:#94A655;
}

.success-button {
    height:50px; 
    width:100px; 
    background-color: rgb(255, 245, 139);
    border-color: rgb(73, 35, 0);
    border-style: solid; 
    border-radius: 5px;
    font-weight: bold;
}

.name-rating-message-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.rating-graph {
    align-self: center;
    width: 300px;
    margin: 10px;
}

.plot-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  center;
    margin-top: 25px;
}

.small-plot {
    position: relative;
    background-color: #c7ae7f;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    border-width: 5px;
    border: 5px solid transparent;
}


.small-plot > h2 {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.small-plot:hover {
    border-color: #A64F44;
}

/* Styles the thumbnail */

.small-plot > img {
    width: 100%;
    height: auto;
    margin-top: -10px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    pointer-events:  none;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target-visible {
    opacity: 1;
    top: 0;
    bottom: 0;
    overflow:auto;
    pointer-events: auto;
}

.lightbox-target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 0;
}

.no-scroll {
    overflow: hidden;
}

.graph-container {
    width: 90%;
    margin: auto;
}

