<!--This is the base html that has aspects of the website that are needed on every page-->

<!DOCTYPE html>

<html lang="en">

<head>

  {% block title %}
  <title>Living Sound</title>
  {% endblock %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400;&display=swap');
  </style>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>


</head>

<body>
  <div class="flex-container">
    {% block header %}
    <header class="header">
      <!-- Switch out for a logo if we have one -->
      <!-- <div class="ls-header-text", style="flex: 0 3 200px; font-weight: bold;">Living Sound</div> -->
      <div>
        <img src="{% static 'images/garden-icon-color.png' %}">
        <a href="{% url 'garden' %}">Garden</a>
      </div>
      <!--Users will make a submission through the Django Admin Page-->
      <div>
        <img src="{% static 'images/post-icon-color.png' %}">
        <a href="{% url 'submission' %}">New Post</a>
      </div>
    </header>
    {% endblock %}
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}
  </div>

</body>

</html>