{% extends "base_generic.html" %}

{% block content %}

  <!-- <h1>Welcome to the <br> <larger>Living Sound Garden!</larger></h1> -->
  <!-- Tests for current user and entries to make sure they were submitting correctly
  <p>{{ current_user }}</p>
  <p>{{ allEnts }}</p>
  -->

<!--Flex box layout for garden columns-->
<!--add sound if time-->

  <div class="two-column-grid">

    {% for entry in data %}
      <div class="plot">
        <!--Getting the username, date, progress image, rating image, and message 
          for each user and displaying it in a predetermined order-->
        <div class="username"><p><strong>{{ entry.username }}</strong></p>
          <p><small>{{ entry.timestamp }}</small></p></div>
        <!-- Need to specify size here for images -->
        <div class="plot-img"><img src="{{ entry.picture.url }}" alt="P1 Plant Update Photo" 
          height="150px" width="150px"></div>
        <div class="rating-img"><img {{ entry.ratingPic }} height="75px" width="75px"></div>
        <div class="message"><p style="font-size: 15px;"> {{ entry.message }} </p></div>
      </div>
    {% endfor %}

  </div>

{% endblock %}